* {
    background-color: #ACC8E5;
    color: #112A46;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.odin {
    font-family: 'Norse', sans-serif;
    font-size: 20px;
    text-align: center;
}

.odin a {
    text-decoration: none;
    color: rgb(153, 130, 1);
}

.trashcan-title h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #00008b;
}

h3 {
    text-align: left;
}

.trash-desc p {
    text-align: left;
    font-weight: bold;
}

.trash-desc img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    max-width: 25%;
}

.trash-desc figcaption {
    text-align: center;
}

.links ul {
    text-align: center;
    list-style: none;
}
